<form [formGroup]="registroHotelFormGroup">
    <div>
        <label>Nombre Del Hotel</label>
        <input id="name" class="form-control" type="text" formControlName="hotelsNameForm" required>
        <div *ngIf="!registroHotelFormGroup.controls.hotelsNameForm.valid" class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <div>
        <label>Correo Del Hotel</label>
        <input type="text" formControlName="mailForm">
    </div>
    <div>
        <label>Select User</label>
        <select formControlName="idUserForm" (change)="mostrarTitleAndText()">
            <option *ngFor="let usuario of userListInfo" [value]="usuario.id" >
                {{usuario.userId}}
            </option>
        </select>
    </div>

    <div *ngIf="show">
        <label>Select User</label>
        <select formControlName="idBBVAForm">
            <option *ngFor="let item of BBVAcatalogue" [value]="item.cidlabel" >
                {{item.tlabel}}
            </option>
        </select>
    </div>
    <div>
        <button (click)="btnAction()">Voy a navegar {{nombre}}</button>
        <button (click)="btnActionSinParamsInURL()">Voy a navegar sin datos</button>
        <button (click)="validarCampos()">Validar Formulario</button>
        <button (click)="cargar('en')">Cargar Catalogue BBVA</button>
    </div>

    <h1>{{title}}</h1>
    <p>{{texto}}</p>
</form>


<div id="graficaDePruebaID" style="width: 50%; height:400px;"></div>